{template "header.html"}
  
  <body>
  <!-- top header -->
    {template "top.html"}
    <!-- top header end-->
    <!-- nav -->
   {template "nav.html"} 
    <!-- nav end-->
    <!-- page bannr -->
   {template "pagebanner.html"}
    <!-- page bannr end-->
    <!-- page wrap -->
    <div class="zzw mauto pagewrapbox">
    <!-- left -->
      <div class="fl zpageleft">
        <h1 class="ztitle">{$parent.name}</h1>
        <ul class="zpageleftUl">
          {loop $related $t}
          <li><a href="{$t.url}" {if $pid==$t.catid} class="on" {/if}>{$t.name}</a></li> 
          {/loop}     
        </ul>
      </div>
    <!-- left end-->
    <!-- right -->
    <div class="fr zpageright">
      <div class="zMianBaobox">
        <span class="fr">{if $title}{$title}{else}{$name}{/if}</span>
         您现在的位置：{dr_catpos($catid, ' - ')}
         <i class="zquan">〇</i>
      </div>
      <!-- count -->
      <div class="zpageCountB">
          <div class="newsListbox">
          <ul class="newsListUl">
            {list action=module catid=$catid fiele=title,url,description,thumb order=updatetime page=1}
            <li>
              <div class="zthumb">
                <a href="{$t.url}">
                {if $thumb}
                  <img src="{dr_thumb($t.thumb,190,75)}" alt="" />
                {else}
                   <img src="{HOME_THEME_PATH}images/news/thumb.jpg" alt="" />
                {/if}
                </a>
              </div>
              <h3 class="ztitle"><a href="{$t.url}">{$t.title}</a></h3>
              <p class="p1">
               <a href="{$t.url}"> {dr_strcut($t.description,80)}</a>
              </p>
              <span class="ztime">{dr_date($t._updatetime,'Y-m-d')}</span>
            </li>
            {/list}
          </ul>
        </div>

         <!-- pading -->
        <div class="zpading" id="zpadingI">
         {$pages}
        </div>
        <!-- pading end-->
      </div>
      <!-- count end-->
    </div>
    <!-- right end-->
    </div>
    <!-- page wrap end-->
    <!-- footer -->
   {template "footer.html"}