<div class="zzw mauto header">
      <div class="fl zlogo">
          <a href="{SITE_URL}"><img src="{HOME_THEME_PATH}images/logo.png" alt="{SITE_NAME}" /></a>
      </div>
      <div class="fr zlogort">
          <div class="fr zbbs">
            <a href="{dr_block(6)}" target="_blank">BBS</a>
          </div>
           <div class="fr zsales">
            <a href="mailto:{dr_block(1)}"><img src="{HOME_THEME_PATH}images/ico/xin.png" alt="" /><br/>Sales</a>
            <a href="mailto:{dr_block(2)}"><img src="{HOME_THEME_PATH}images/ico/xin.png" alt="" /><br/>Support</a>
          </div>
            <div class="fr zLanguage">
            <a href="{SITE_URL}">Chinese</a>&nbsp;/
            <a href="{dr_block(6)}" target="_blank">English</a>
          </div>
          <div class="fr zlogin">
         
              <script type="text/javascript" src="{SITE_URL}member/index.php?c=api&m=userinfo"></script>
        
          </div>
          <div class="fr zsearch">
          <form method="get" target="_blank" action="{SITE_URL}index.php" class="z-form-so">
          <input name="c" type="hidden" value="so">
           <input name="module" type="hidden" value="{APP_DIR}">
            <input type="text" class="seakey" name="keyword" value="{$keyword}"/>
            <input type="submit" class="seabtn" value="&nbsp;" />
          </form>
          </div>
    </div>
</div>