{template "header.html"}
<body>
    <!-- header -->
    <div class="zzw mauto zbox">
   {template "top.html"}
    <!-- header end-->  
    <!-- banner -->
    <!-- header end-->  
    {template "banner.html"}
    <!-- banner end-->
    <!-- count midden  -->
    <div class="zzw2 mauto zcountbox">
      <!-- left -->
      <div class="fl zsidelf">
        <!-- 1 -->
        <div class="zsidediv">
          <h2 class="ztitle"><i class="hongxian"></i><span>{$parent.name}</span></h2>
          <div class="zsidecount">
            <ul class="zsidecountul">
        {list action=category pid=$cat.pid return=c}
          {if $key==0}
           <li {if $c.id==$catid} class="on za1" {/if}><i></i><a href="{$c.url}">{$c.name}</a></li>
          {else}
           <li><i></i><a href="{$c.url}">{$c.name}</a></li>
           {/if}
          {/list}           
            </ul>
          </div>
        </div>
        <!-- 1 end-->
        <!-- 2 -->
       {template "left_contus.html"}
        <!-- 2 end-->
        <!-- imgin -->
       <!--  <div class="indexleftimg">
          <img src="./images/1268457867.gif" alt="" />
        </div> -->
        <!-- imgin end-->
      </div>
      <!-- left end-->
      <!-- right -->
      <div class="fl zcountrt">
        <!-- page -->
        <div class="pagemian">
            <h2><i class="hongxian"></i>
            您现在的位置：<a href="{SITE_URL}">{SITE_NAME}</a> &gt; {dr_catpos($catid,'&gt;')}</h2>
            <div class="d1"></div>
            <div class="d1"></div>
            <div class="d1"></div>
        </div>
       <div class="joblistbox">
         <div class="joblisttitle">
           <div class="jobzw">招聘职位</div>
           <div class="jobadr">工作地点</div>
           <div class="jobnum">招聘人数</div>
           <div class="joburl">详情</div>
         </div>
         <div class="clear"></div>
         <ul class="joblistul">
         {list action=module catid=$catid }
           <li>
             <div class="jobzw"><a href="{$t.url}" title="{$t.title}">{$t.title}</a></div>
             <div class="jobadr">{$t.jobadd}</div>
             <div class="jobnum">{$t.jobnum}</div>
             <div class="joburl"><a href="{$t.url}">详情</a></div>
           </li>
          {/list}

         </ul>
       </div>
        <!-- page end-->
        <!-- pading -->
        <div class="zpagding">
           {$pages}
        </div>
        <!-- pading end-->
      </div>
      <!-- right end-->
    </div>
    <!-- count midden  end-->
 
    <!-- footer -->
{template "footer.html"}