   <div class="wman100 zzwmin zfooter-box">
        <div class="zzw mauto zfooter">
          <h3 class="ztitle">Links</h3>
          <p class="p1" id="footerlinkI">
          {list action=navigator type=2}
            <a href="{$t.url}" {if $t.target}target="_blank" {/if}>{$t.name}</a>
           {/list}
          </p>
          <p class="p2">{dr_block(5)} Technical support: Moen network</p>
          <!-- video -->
          <div class="zvideo">
            <a href="{$ci->get_cache('module-1-midea', 'category', 1, 'url')}" target="">Video Center</a>
          </div>
          <!-- video end-->
        </div>
    </div>
    <!-- ooter endd-->
  
    

<script type="text/javascript" src="{MEMBER_PATH}statics/js/jquery.artDialog.js?skin=default"></script>
  <script type="text/javascript" src="{MEMBER_PATH}statics/js/omooo.js"></script>
  
 {template "onlinelogin.html"}
   
<script type="text/javascript" src="{HOME_THEME_PATH}js/zan.js"></script>
   
<script src="{HOME_THEME_PATH}js/jquery.easing.min.js"></script>
<script src="{HOME_THEME_PATH}js/superslide.2.1.js"></script>

<div class="tanbgd"></div>
</body>
</html>
