{template "header.html"}
<div class="Dg">您当前位置：<a href="{SITE_URL}">首页</a>  > <a href="{MODULE_URL}">{MODULE_NAME}</a>  > Tag： {$tag}</div>
<div class="main">
	<!--left_bar-->
	<div class="col-left">
    	<div class="box boxsbg">
            <!--采用sql的方式查询数据sql由系统生成，action=sql使用方式参考帮助手册-->
        	{list action=sql sql='$tagsql' module=$dirname page=1 urlrule=$urlrule pagesize=$pagesize}
			<dl class="down_list sysnews">
              <dt><h5><a href="{$t.url}"><img src="{dr_thumb($t.thumb)}" style="margin-right:10px">{$t.title} V{$t.version}</a></h5></dt>
              <dd class="down_txt">{$t.description}</dd>
            </dl>
		     {/list}{$error}
        	<!--pages-->
        	<div class="text-c mg_t20" id="pages">{$pages}</div>
		</div>
    </div>
    <!--right_bar-->
    <div class="col-auto">
    	<div class="box">
            <h5 class="title-2">下载分类</h5>
            <ul class="content col3 h28">
            	{list action=category pid=0}
            	<li><a href="{$t.url}">{$t.name}</a></li>
                {/list}
            </ul>
        </div>
        <div class="bk10"></div>
        <div class="box">
            <h5 class="title-2">推荐软件</h5>
            <ul class="content digg">
            	<!--查询推荐位2（推荐软件）的内容，field需要用到的字段（不填表示全部），按displayorder（后台指定排序）排序-->
            	{list action=module flag=1 field=title,url order=displayorder,updatetime num=10}	
				<li><a href="{$t.url}">{$t.title}</a></li>
                {/list}
           	</ul>
        </div>
        <div class="bk10"></div>
        <div class="box">
            <h5 class="title-2">热门下载</h5>
            <ul class="content digg">
            	{list action=module catid=$catid field=title,url order=hits num=10}	
				<li><a href="{$t.url}">{$t.title}</a></li>
                {/list}
            </ul>
        </div>
    </div>
</div>
{template "footer.html","/"}